@import "tailwindcss";

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

@layer base {
  html, body, #root {
    @apply h-full overflow-hidden;
  }
}

/* Fix untuk Tablet: Memastikan font tebal dan elemen mudah disentuh */
* {
  -webkit-tap-highlight-color: transparent;
}